* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
    background-color: #102542;
    height: 100vh;
    color: #ffff;
    overflow: hidden;
}

#container {
    text-align: center;
    padding: 5px;
}

#game_box {
    margin-block: 20px 0;
    padding: 10px;
    text-align: center;
}

#game {
    margin: 30px auto;
    width: 70vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.box {
    width: 25vmin;
    height: 20vmin;
    cursor: pointer;
    font-size: 12vmin;
    background-color: #f0e7d8;
    color: #a63a50;
    border: none;
    border-radius: 10px;
    transition: scale .6s;
}

.Re_btn {
    background-color: #f87060;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 5vmin;
}

#result_box {
    margin-block: 23vmin 10vmin;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 10vmin;
    font-size: 8vmin;
    font-weight: 400;
    color: #8c7889;
    /* display: none; */
}

#result {
    font-size: 10vmin;
    font-weight: 700;
    color: #ffff;
    font-family: Courier New;
}

.hide {
    visibility: hidden;
}
